extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot your password?
      p.form__text.ma-bt-md Enter your email address below and we'll send you a link to reset your password.
      form.form.form--forgot(method='POST')
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', name='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Send reset link
      .form__group.text-center.ma-t-md
        p.form__text
          | Remembered your password? 
          a.form__link(href='/login') Log in
