extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--reset(method='POST')
        .form__group
          label.form__label(for='password') New password
          input#password.form__input(type='password', name='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm new password
          input#passwordConfirm.form__input(type='password', name='passwordConfirm', placeholder='••••••••', required, minlength='8')
        .form__group
          label
            input#showPassword(type='checkbox')
            label.form__label(for='checkbox') Show Password
        .form__group
          button.btn.btn--green Save new password
